{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('resetToken') }}" method="post">
        <div class="form-group">
            <label for="exampleInputPassword1">Adresse mail</label>
            <input type="email" placeholder="Saisissez l'adresse mail de récupération" name="email" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}
