{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <form method="post" action="{{ path('finalOrder') }}" class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Nom</label>
            <input type="text" class="form-control"  name="lastname" id="validationCustom02" value="{{ app.user.lastname }}" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Prénom</label>
            <input type="text" class="form-control" name="firstname" id="validationCustom01" value="{{ app.user.firstname }}" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Nom de voie</label>
            <input type="text" class="form-control" name="street" id="validationCustom03" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>

        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Ville</label>
            <input type="text" class="form-control" name="city" id="validationCustom03" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Code Postal</label>
            <input type="text" class="form-control" name="zip" id="validationCustom05" required>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
        </div>
        
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Valider</button>
        </div>
    </form></div>

{% endblock %}